<h2 class="title">Liste des Étudiants</h2>

<div class="add-button-container">
  <button (click)="navigateToAddEtudiant()" class="btn btn-success btn-sm">Ajouter un étudiant</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>CIN</th>
      <th>Date de Naissance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let etudiant of etudiants">
      <td>{{ etudiant.nomEtudiant }}</td>
      <td>{{ etudiant.prenomEtudiant }}</td>
      <td>{{ etudiant.cinEtudiant }}</td>
      <td>{{ etudiant.dateNaissance | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button (click)="updateEtudiant(etudiant)" class="btn btn-primary btn-sm">Modifier</button>
        <button (click)="deleteEtudiant(etudiant.idEtudiant)" class="btn btn-danger btn-sm">Supprimer</button>
        <button (click)="viewDetails(etudiant.idEtudiant)" class="btn btn-info btn-sm">Détail</button>

      </td>
    </tr>
  </tbody>
</table>
