<h2>Ajouter un Étudiant</h2>

<form (ngSubmit)="addEtudiant()">
  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" [(ngModel)]="etudiant.nomEt" name="nomEt" required />
  </div>

  <div>
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" [(ngModel)]="etudiant.prenomEt" name="prenomEt" required />
  </div>

  <div>
    <label for="cin">CIN:</label>
    <input type="number" id="cin" [(ngModel)]="etudiant.cin" name="cin" required />
  </div>

  <div>
    <label for="ecole">École:</label>
    <input type="text" id="ecole" [(ngModel)]="etudiant.ecole" name="ecole" required />
  </div>

  <div>
    <label for="dateNaissance">Date de Naissance:</label>
    <input type="date" id="dateNaissance" [(ngModel)]="etudiant.dateNaissance" name="dateNaissance" required />
  </div>

  <button type="submit">Ajouter l'Étudiant</button>
</form>
